.chat-button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--chat-button-background-colour);
	border: 1px solid var(--chat-button-border-colour);
	border-radius: 0.625rem;
	padding: 0.75rem;

	color: var(--chat-button-text-colour);
	font-size: 1rem;
	font-weight: 700;
}
