.defence-radio-button {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.defence-radio-button input {
	opacity: 0;
}

.defence-radio-button .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 0.75rem;
	width: 0.75rem;
	border-radius: 50%;
	border: 0.125rem solid var(--main-toggle-off-border-colour);
}

.defence-radio-button input:checked + .checkmark::after {
	content: '';
	position: absolute;
	top: 0.0625rem;
	left: 0.0625rem;
	height: calc(100% - 0.125rem);
	width: calc(100% - 0.125rem);
	border-radius: 50%;
	background: var(--main-toggle-ball-colour);
}
