.header-button {
	background-color: var(--header-button-background-colour);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: var(--header-button-text-colour);
	cursor: pointer;
	min-height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.header-button:hover {
	background-color: var(--header-button-hover-background-colour);
}
