.level-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.125rem;
	padding: 1rem;
	border: 0.125rem solid var(--level-button-border-colour);
	background-color: transparent;
	color: var(--level-button-colour);
	font-size: 1.875rem;
}

.level-button:focus-visible {
	border-color: var(--main-text-colour);
}

.level-button.selected {
	background-color: var(--level-button-background-colour-selected);
}

.level-button[aria-disabled='true'] {
	border-color: var(--level-button-border-colour-disabled);
	color: var(--level-button-colour-disabled);
}
