.level-button {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 3.125rem;
	padding: 1rem;

	font-size: 1.875rem;
	color: var(--level-button-colour);

	background-color: transparent;
	border: 0.125rem solid var(--level-button-border-colour);
}

.level-button.selected {
	background-color: var(--level-button-background-colour-selected);
}

.level-button[aria-disabled='true'] {
	color: var(--level-button-colour-disabled);
	border-color: var(--level-button-border-colour-disabled);
}
