.loading-button .themed-button {
	height: 100%;
}

.loading-button .themed-button.disabled {
	background-color: var(--action-button-background-colour);
	color: var(--action-button-text-colour);
}

.loading-button .loader {
	position: absolute;
	background-color: inherit;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	align-items: center;
	justify-content: center;
}
