.loading-button.themed-button.disabled {
	color: var(--action-button-text-colour);
	background-color: var(--action-button-background-colour);
}

.loader {
	position: absolute;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	background-color: inherit;
	border-radius: inherit;
}
