.overlay-choice-buttons {
	display: flex;
	gap: 5rem;
	justify-content: center;
}

@media (width <= 700px) {
	.overlay-choice-buttons {
		gap: 0;
		justify-content: space-evenly;
		margin: 0;
		padding: 0;
		background-color: yellow;
		line-height: auto;
	}
}
