.overlay-button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1rem 3rem;

	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;

	background-color: var(--overlay-background-colour);
	border: 0.0625rem solid var(--overlay-tab-colour);
	border-radius: 0.5rem;

	transition: ease 0.1s;
}

.overlay-button:hover {
	background-color: var(--overlay-tab-colour);
}
