.start-level-selection-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem 0;
  gap: 5rem;
  list-style: none;
  padding: 0;
}

.start-level-selection-buttons .level-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--overlay-tab-colour);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: var(--overlay-background-colour);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  transition: ease 0.1s;
}

.start-level-selection-buttons .level-button.selected {
  background-color: var(--overlay-tab-colour);
}

.start-level-selection-buttons button:hover {
  background-color: var(--overlay-tab-colour);
}
