.themed-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.125rem solid var(--action-button-background-colour);
	border-radius: 0.625rem;
	background-color: var(--action-button-background-colour);
	color: var(--action-button-text-colour);
	font-weight: 600;
}

.themed-button:focus-visible {
	border-color: var(--main-text-colour);
}

.themed-button.disabled {
	background-color: var(--action-button-disabled-background-colour);
	color: var(--action-button-disabled-text-colour);
}
