.themed-button-wrapper {
	position: relative;
}

.themed-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 0.125rem solid var(--action-button-background-colour);
	border-radius: 0.625rem;
	background-color: var(--action-button-background-colour);
	color: var(--action-button-text-colour);
	font-weight: 600;
	font-size: inherit;
}

.themed-button:focus-visible {
	border-color: var(--main-text-colour);
}

.themed-button.disabled {
	border-color: var(--action-button-disabled-background-colour);
	background-color: var(--action-button-disabled-background-colour);
	color: var(--action-button-disabled-text-colour);
}

.themed-button-tooltip {
	position: absolute;
	top: calc(100% + 0.125rem);
	z-index: 1;
	display: none;
	min-width: 8rem;
	padding: 0.125rem;
	border-width: 0.0625rem;
	border-style: solid;
	border-color: var(--tooltip-border-colour);
	background-color: var(--tooltip-background-colour);
	color: var(--tooltip-text-colour);
}

.themed-button-tooltip.show.top-left {
	left: 0;
}

.themed-button-tooltip.show.top-right {
	right: 0;
}

.themed-button-tooltip.show.top-center {
	right: 50%;
	transform: translateX(50%);
}

.themed-button-tooltip.show.bottom-center {
	right: 50%;
	transform: translateX(50%);
	bottom: calc(100% + 0.125rem);
	top: auto;
}

.themed-button:hover + .themed-button-tooltip.show,
.themed-button:focus + .themed-button-tooltip.show {
	display: block;
}

.themed-button[aria-disabled='false']:hover {
	background-color: var(--action-button-background-colour-hover);
}
