.level-mission-info-banner {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: var(--level-banner-background-colour);
	color: var(--level-banner-text-colour);
	text-align: left;
}

.level-mission-info-banner:focus-visible {
	border-style: double;
	border-color: var(--main-text-colour);
	outline-offset: -0.25rem;
}

.level-title-area {
	margin: 1rem 0;
	font-weight: 800;
	font-size: 1.875rem;
	white-space: nowrap;
}

.level-mission-info-banner > p {
	margin: 0;
	font-size: 1rem;
}

.level-mission-info-banner .banner-button-container {
	display: flex;
	gap: 0.5rem;
}

.level-mission-info-banner .themed-button {
	gap: 0.5rem;
	height: auto;
	padding: 0.75rem 1rem;
	white-space: nowrap;
}

.info-icon {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: auto;
	padding: 0 0.5rem;
	border-radius: 50%;
	background-color: var(--action-button-text-colour);
	color: var(--action-button-background-colour);
	font: 1rem serif;
	font-weight: bold;
	aspect-ratio: 1;
}

@media (width < 62.5rem) {
	.level-mission-info-banner {
		gap: 1rem;
	}

	.level-mission-info-banner .banner-button-container {
		flex-direction: column;
	}

	.level-mission-info-banner .themed-button {
		padding: 0.5rem;
	}
}
