.level-mission-info-banner {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem 1.5rem;
	border: 0.5rem solid transparent;
	background-color: var(--level-banner-background-colour);
	color: var(--level-banner-text-colour);
	text-align: left;
}

.level-mission-info-banner:focus-visible {
	border-style: double;
	border-color: var(--main-text-colour);
	outline-offset: -0.25rem;
}

.level-title-area {
	min-width: 10%;
	font-weight: 800;
	font-size: 1.875rem;
}

.level-mission-info-banner > p {
	margin: 0;
	font-size: 1rem;
}

.level-mission-info-banner .themed-button {
	height: auto;
	white-space: nowrap;
}

.info-icon {
	margin-right: 0.25rem;
	padding: 0 0.4rem;
	border: 0.2rem;
	border-style: solid;
	border-color: var(--action-button-text-colour);
	border-radius: 50%;
	background-color: var(--action-button-text-colour);
	color: var(--action-button-background-colour);
	font: 1rem serif;
	font-weight: bold;
}
