.avatar-circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 3.75rem;
	height: 3.75rem;

	border-radius: 50%;
}

.avatar-circle-user {
	background-color: var(--avatar-circle-user-colour);
}

.avatar-circle-bot {
	background-color: var(--avatar-circle-bot-colour);
}

.avatar-circle img {
	width: 75%;
	height: 75%;
}
