.message-bubble {
	max-width: 65%;
	padding: 1.25rem;

	hyphens: auto;
	color: var(--chat-bot-text-colour);
	word-wrap: break-word;
	white-space: pre-line;

	border: 0.0625rem solid transparent;
	border-radius: 1.25rem;
}

.message-bubble.bot {
	background-color: var(--chat-bot-background-colour);
	border-color: var(--chat-bot-border-colour);
}

.message-bubble.blocked {
	background-color: var(--chat-blocked-background-colour);
	border-color: var(--chat-blocked-border-colour);
}

.message-bubble.error {
	background-color: var(--chat-blocked-background-colour);
	border-color: var(--chat-blocked-border-colour);
}

.message-bubble.user {
	color: var(--main-text-colour);
	background-color: var(--chat-user-background-colour);
	border-color: var(--chat-user-border-colour);
}

.message-bubble.transformed {
	color: var(--chat-transformed-text-colour);
	background-color: var(--chat-transformed-background-colour);
	border-color: var(--chat-transformed-border-colour);
}

.message-bubble.transformed b {
	color: var(--chat-transformed-text-highlight-colour);
}

.message-bubble.level-info {
	max-width: 100%;
	color: var(--chat-level-info-text-colour);
	background-color: var(--email-background-colour);
}

.message-bubble.level-info .header {
	margin-top: 0;
	margin-bottom: 0.3125rem;
	font-weight: bold;
}

.message-bubble.left {
	border-top-left-radius: 0;
}

.message-bubble.right {
	border-top-right-radius: 0;
}
