.message-bubble {
	border-radius: 1.25rem;
	margin-top: 1rem;
	padding: 1.25rem;
	max-width: 65%;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	border: 0.0625rem solid transparent;
	color: var(--chat-bot-text-colour);
	white-space: pre-wrap;
}

.message-bubble-ai {
	border-top-left-radius: 0;
	border-color: var(--chat-bot-border-colour);
	background-color: var(--chat-bot-background-colour);
	align-self: flex-start;
}

.message-bubble-ai-blocked {
	border-color: var(--chat-blocked-border-colour);
	background-color: var(--chat-blocked-background-colour);
}

.message-bubble-error {
	border-top-left-radius: 0;
	border-color: var(--chat-blocked-border-colour);
	background-color: var(--chat-blocked-background-colour);
	align-self: flex-start;
}

.message-bubble-user {
	border-top-right-radius: 0;
	border-color: var(--chat-user-border-colour);
	background-color: var(--chat-user-background-colour);
	color: var(--main-text-colour);
	align-self: flex-end;
}

.message-bubble-user-transformed {
	background-color: var(--chat-transformed-background-colour);
}

.message-bubble-level-info .level-info-header {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.3125rem;
}

.message-bubble-level-info {
	background-color: var(--email-background-colour);
	color: var(--chat-level-info-text-colour);
	max-width: 100%;
}
