.content {
    padding: 1.5rem;
    height: 60vh;	
    display: flex;
	overflow: auto;
    flex-direction: column;
    justify-content: center;
}

.text-image-container {
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: fit-content;
	max-height: 100%;
}

.speaker-image{
	object-fit: contain;
	height: 80%;
    max-width: 20%;
}

.project-icon {
	display: flex;
	justify-content: center;
	height: 6rem;
}

.speaker-text {
	max-width: 60%;
}

.content p {
    font-weight: 500;
	font-size: 1.25rem;
}