.mission-information {
  display: flex;
  flex-direction: column;
}

.mission-information h1 {
  text-align: center;
}

.mission-information p {
  font-size: 1.5rem;
}

.dialogue {
  overflow: overlay;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dialogue-speaker {
  margin-top: 0;
  margin-bottom: 0;
}

.dialogue-text {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  margin-bottom: 1rem;
}
