.mission-information {
	display: flex;
	flex-direction: column;
}

.mission-information .content {
	overflow-y: auto;
}

.button-area {
	display: flex;
	justify-content: center;
	padding-bottom: 0.25rem;
}
