.mission-information {
	display: flex;
	overflow: auto;
}

.mission-information .content {
	height: 60vh;
	padding: 1.5rem;
}

.mission-information .text-image-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: fit-content;
	height: 50vh;
}

.mission-information .content .speaker-text {
	max-width: 60%;
}

.speaker-image {
	object-fit: contain;
	max-width: 15%;
	height: 80%;
}

.mission-information p {
	font-weight: 500;
	font-size: 1.25rem;
}

.button-area {
	display: flex;
	justify-content: center;
	padding-bottom: 0.25rem;
}
