.welcome {
	overflow-y: auto;
}

.welcome .content {
	padding: 1.5rem;
	height: 50vh;
}

.welcome h2 {
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}

.welcome h3 {
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
}

.welcome p {
	font-weight: 500;
	font-size: 1.25rem;
}

.welcome .project-icon {
	display: flex;
	justify-content: center;
	height: 6rem;
}
