.welcome {
	overflow-y: auto;
	margin-top: 2rem;
	padding: 0 1.5rem;
}

.welcome h1 {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
}

.welcome h2 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.welcome p {
	font-size: 1.25rem;
	font-weight: 500;
}

.welcome .project-icon {
	display: flex;
	justify-content: center;
	height: 6rem;
}
