.overlay {
  box-sizing: border-box;
  position: relative;
  border: none;
  border-radius: 0.625rem;
  padding: 0;
  background-color: var(--overlay-background-colour);
  color: var(--overlay-text-colour);
  width: 50%;
  height: 50%;
  overflow: visible;
  overflow-y: auto;
}
.overlay * {
  box-sizing: border-box;
}

.overlay::backdrop {
  background-color: var(--overlay-hidden-colour);
}

.overlay > .close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.125rem 0.5rem;
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
}

.overlay > .close-button:hover {
  color: var(--main-button-hover-text-colour);
  text-decoration: none;
  cursor: pointer;
}

.overlay-content {
  height: 100%;
  padding: 1.5rem;
  text-align: center;
}
