.overlay-choice {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow: auto;
	padding: 1.5rem;
}

.overlay-choice p {
	margin-top: 0;
}

@media (width < 43.75rem) {
	.overlay-choice {
		gap: 0;
		padding: 0;
	}
}
