.overlay {
	position: relative;
	overflow: visible;
	overflow-y: auto;
	box-sizing: border-box;
	width: 50vw;
	height: fit-content;
	max-height: 80vh;
	padding: 0;
	border: none;
	border-radius: 0.625rem;
	background-color: var(--overlay-background-colour);
	color: var(--overlay-text-colour);
}

.overlay * {
	box-sizing: border-box;
}

.overlay h1 {
	text-align: center;
}

.overlay p {
	font-size: 1.25rem;
}

.overlay > .close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.125rem 0.5rem;
	border: 0.1875rem solid transparent;
	color: inherit;
	font-weight: bold;
	border: 0.1875rem solid transparent;
}

.overlay > .close-button:focus-visible {
	border-color: var(--main-text-colour);
}

.overlay > .close-button:focus-visible {
	border-color: var(--main-text-colour);
}

.overlay > .close-button:hover {
	color: var(--main-text-colour);
	text-decoration: none;
}

.overlay-content {
	display: flex;
	overflow: hidden;
	height: 100%;
	padding: 1.5rem;
}
