.overlay {
	position: relative;
	overflow: visible;
	overflow-y: auto;
	box-sizing: border-box;
	width: 50vw;
	height: fit-content;
	max-height: 80vh;
	padding: 0;
	border: none;
	border-radius: 0.625rem;
	background-color: var(--overlay-background-colour);
	color: var(--overlay-text-colour);
}

.overlay * {
	box-sizing: border-box;
}

.overlay header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	position: fixed;
	width: 100%;
	height: 5rem;
	background-color: var(--overlay-header-background-colour);
	border-top-right-radius: 0.625rem;
	border-top-left-radius: 0.625rem;
}

.overlay p {
	font-size: 1.25rem;
}

/* .overlay > .close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.125rem 0.5rem;
	border: 0.1875rem solid transparent;
	color: inherit;
	font-weight: bold;
	font-size: 1.5rem;
} */

/* .overlay > .close-button:focus-visible {
	border-color: var(--main-text-colour);
} */

/* .overlay > .close-button:hover {
	color: var(--main-text-colour);
	text-decoration: none;
} */

.close-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 0.0625rem solid var(--main-text-colour-inverted);
	border-radius: 0.5rem;
	background-color: inherit;
	color: var(--main-text-colour-inverted);
}

.close-button:hover {
	background-color: var(--overlay-tab-colour);
}

.overlay-close-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.125rem solid var(--main-text-colour-inverted);
	color: var(--main-text-colour-inverted);
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	font-weight: bold;
}

.overlay-content {
	display: flex;
	overflow: hidden;
	height: 100%;
	padding: 1.5rem;
	padding-top: 5rem;
}
