#api-key-box {
  padding: 16px 32px;
  position: relative;
  box-sizing: border-box;
}

#api-key-box input {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

#viewKey {
  color: grey;
  font-size: 1rem;
}

.status-text {
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-size: 0.875rem;
}

.invalidated {
  background-color: #fdd;
}

.validated {
  background-color: #efe;
}
