#api-key-box {
  padding: 16px 32px;
  position: relative;
  box-sizing: border-box;
}

#api-key-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;}

.status-text {
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.invalidated {
  background-color: #fdd;
}

.validated {
  background-color: #efe;
}


