#api-key-box {
  padding: 16px 32px;
  position: relative;
}

#api-key-input {
  width: 90%;
  padding: 10px;
}

.status-text {
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.invalidated {
  background-color: #fdd;
}

.validated {
  background-color: #efe;
}


