.view-documents-header {
	background-color: var(--main-background-colour);
	color: var(--main-accent-colour);
	padding-bottom: 1.25rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.view-documents-header h2 {
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: solid 0.0625rem var(--main-border-colour);
	margin-top: 0;
}

.view-documents-header .nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.view-documents-header .info {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.view-documents-header .button-container {
	display: flex;
	gap: 1rem;
	width: 50%;
}

.view-documents-header .button-container button {
	white-space: nowrap;
	/* make the buttons the same width */
	width: 100%;
}
