.document-popup-inner {
  position: relative;
  padding: 2rem;
  max-width: 100%;
  width: 40rem;
  background-color: var(--main-background-colour);
  border: 0.1875rem solid var(--main-border-colour);
  border-color: var(--main-border-colour);
}

.document-popup-inner .close-button {
  color: var(--main-accent-colour);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.document-popup-inner .close-button:hover {
  color: var(--main-button-hover-text-colour);
  text-decoration: none;
  cursor: pointer;
}

#react-doc-viewer {
  color: var(--chat-message-text-colour);
  height: 31.25rem;
  margin: auto;
}

#react-doc-viewer #proxy-renderer {
  padding: 1.25rem;
}

#react-doc-viewer #txt-renderer {
  padding: 0.625rem;
  white-space: pre-wrap;
}
