.document-popup-inner {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 2rem;

	height: 85vh;
	aspect-ratio: 7/8;

	background: var(--main-background);
	border: 0.1875rem solid var(--main-border-colour);
}

.document-popup-inner .close-button {
	color: var(--main-accent-colour);
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.25rem 0.75rem;
	font-size: 1.75rem;
	font-weight: bold;
}

.document-popup-inner .close-button:hover {
	color: var(--main-text-colour);
	text-decoration: none;
}

.document-viewer-container {
	flex-grow: 1;
	background-color: var(--document-viewer-background-colour);
	overflow-y: auto;
}

#react-doc-viewer {
	background-color: var(--document-viewer-background-colour);
	color: var(--document-viewer-text-colour);
	margin: auto;
	/* don't scroll */
	overflow: visible;
}

#react-doc-viewer #proxy-renderer {
	padding: 1.25rem;
	/* don't scroll */
	overflow: visible;
}

#react-doc-viewer #txt-renderer {
	padding: 0.625rem;
	white-space: pre-wrap;
}
