.view-documents-header {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	align-items: stretch;
	padding-bottom: 0.25rem;
	color: var(--main-text-colour);
}

.view-documents-header .nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.view-documents-header .info {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
}

.view-documents-header .button-container {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.view-documents-header .button-container button {
	flex: 0 0 30%;
	white-space: nowrap;
}

.view-documents-header .button-container button:focus-visible {
	background-color: var(--action-button-background-colour-hover);
	outline-color: var(--main-text-colour);
}

.view-documents-header .button-container button[aria-disabled='true']:hover {
	background-color: var(--action-button-disabled-background-colour);
	cursor: not-allowed;
}