.document-view-button-wrapper {
	display: flex;
	flex-shrink: 0;
	height: 2.5rem;
}

/* Button fills all available width */
.document-view-button-wrapper .themed-button-wrapper {
	display: flex;
	flex-grow: 1;
}

.document-view-button-wrapper .themed-button-wrapper button {
	flex-grow: 1;
}
