.document-popup-inner {
	position: relative;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	aspect-ratio: 7/8;
	height: 85vh;
	padding: 2rem;

	background: var(--main-background);
	border: 0.1875rem solid var(--main-border-colour);
}

.document-popup-inner .close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;

	padding: 0.25rem 0.75rem;

	font-size: 1.75rem;
	font-weight: bold;
	color: var(--main-text-colour);
	text-decoration: none;
}

.document-popup-inner .close-button:hover {
	color: var(--accent-border-colour);
	border-color: var(--accent-border-colour);
}

.document-viewer-container {
	overflow-y: auto;
	flex-grow: 1;
	background-color: var(--document-viewer-background-colour);
}

#react-doc-viewer {
	/* don't scroll */
	overflow: visible;
	margin: auto;
	color: var(--document-viewer-text-colour);
	background-color: var(--document-viewer-background-colour);
}

#react-doc-viewer #proxy-renderer {
	/* don't scroll */
	overflow: visible;
	padding: 1.25rem;
}

#react-doc-viewer #txt-renderer {
	padding: 0.625rem;
	white-space: pre-line;
}
