#demo-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 32px;
  border-width: 0px;
  border-bottom: 3px;
  border-color: var(--main-accent-colour);
  border-style: solid;
}

#demo-header-left {
  width: 100%;
}

#demo-header-title {
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  padding-right: 24px;
}

#demo-header-middle {
  white-space: nowrap;
}

#demo-header-current-phase { 
  color: var(--main-accent-colour);
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
}

#demo-header-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}