.main-area {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
	background: var(--main-background);
	border-top: 0.125rem solid var(--level-banner-border-colour);
}

.centre-area {
	width: 55%;
	background-color: var(--main-text-colour);
}

.left-side-bar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
}

.right-side-bar {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	width: 30%;
}
