.main-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-component header {
  min-height: 5rem;
  height: 5rem;
}

.main-component main {
  flex: 1 1 1%;
  height: 1%;
}

.main-component footer {
  height: 4rem;
  min-height: 4rem;
}
