.main-area {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.centre-area {
  display: flex;
  flex-direction: column;
  border-color: var(--main-border-colour);
  border-width: 0 0.0625rem;
  border-style: solid;
  position: relative;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}
