.main-header {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;

	height: 6.25rem;
	padding: 0 2rem;

	background-color: var(--header-background-colour);
}

.main-header .themed-button {
	display: flex;
	gap: 0.5rem;

	height: 3.125rem;
	padding: 1rem;

	white-space: nowrap;
}

.main-header-left {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.main-header-left > .title-logo {
	height: 80%;
}

.main-header-middle {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.main-header-middle .main-header-level {
	font-size: 1.875rem;
	color: var(--main-text-colour);
}

.main-header-right {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: flex-end;

	width: 100%;
	height: 100%;
}
