.main-header {
	background-color: var(--header-background-colour);
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 2rem;
	height: 6.25rem;
	flex-shrink: 0;
}

.main-header-left {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.main-header-left > .titleLogo {
	height: 80%;
}

.main-header-middle {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.main-header-middle .main-header-level {
	color: var(--main-text-colour);
	font-size: 1.875rem;
}

.main-header-right {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.main-header-right .handbook-area {
	width: 10%;
	height: 50%;
	margin-left: 1rem;
}

.main-header-right .handbook-area .handbook-icon {
	height: 100%;
	width: 100%;
}
