.main-footer {
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3.75rem;
	background-color: var(--footer-background-colour);
}

.main-footer > a {
	display: flex;
}

.main-footer > a:focus-visible {
	outline-offset: -0.25rem;
}

.main-footer > a svg {
	height: 2.25rem;
	padding: 0.75rem;
}

.main-footer .links {
	padding: 0.75rem;
}

.main-footer .links a {
	color: var(--main-text-colour);
	text-decoration: none;
}

.main-footer .links a:hover {
	text-decoration: underline;
}

.main-footer .links a:not(:last-child)::after {
	content: '|';
	display: inline-block;
	padding: 0 0.75rem;
}

@media only screen and (min-width: 37.5rem) {
	.main-footer {
		height: 2rem;
	}

	.main-footer a svg {
		height: 1.75rem;
	}

	.main-footer a svg,
	.main-footer .links,
	.main-footer .links a:not(:last-child)::after {
		padding: 0 0.5rem;
	}
}
