.main-area {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.centre-area {
  display: flex;
  flex-direction: column;
  border-color: var(--main-border-colour);
  border-width: 0rem 0.0625rem;
  border-style: solid;
  position: relative;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.side-bar-header {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}
