/* #project-icon {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
}

#project-icon svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
} */