.themed-input {
	box-sizing: border-box;
	width: 100%;
	padding: 0.125rem;

	font-family: inherit;

	/* must inherit to override default styling */
	font-size: inherit;
	color: var(--main-input-active-text-colour);

	background-color: var(--main-input-active-background-colour);
	border-style: solid;
	border-width: 0.0625rem;
	border-radius: 0.25rem;
}

.themed-input.disabled {
	color: var(--main-input-inactive-text-colour);
	background-color: var(--main-input-inactive-background-colour);
}
