/* hide arrows in webkit browsers */
.themed-number-input::-webkit-inner-spin-button,
.themed-number-input::-webkit-outer-spin-button {
	margin: 0;
	appearance: none;
}

/* hide arrows in firefox */
.themed-number-input {
	outline-offset: 0.125rem;
	appearance: textfield;
}
