.themed-input {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.0625rem;
  padding: 0.1rem;

  background-color: var(--main-background-colour);
  color: var(--main-input-active-text-colour);

  /* must inherit to override default styling */
  font-size: inherit;
  font-family: inherit;
}

.themed-input.disabled {
  color: var(--main-input-inactive-text-colour);
  background-color: var(--main-input-inactive-background-colour);
}
