.themed-input {
	box-sizing: border-box;
	border-radius: 0.25rem;
	border-style: solid;
	border-width: 0.0625rem;
	padding: 0.125rem;
	width: 100%;
	background-color: var(--main-input-active-background-colour);
	color: var(--main-input-active-text-colour);

	/* must inherit to override default styling */
	font-size: inherit;
	font-family: inherit;
}

.themed-input.disabled {
	background-color: var(--main-input-inactive-background-colour);
	color: var(--main-input-inactive-text-colour);
}
