#email-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#email-box-feed {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 40px;
  padding-bottom: 40px;
}
