.email-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.email-box-feed {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
  padding: 32px 30px;
  scrollbar-width: thin;
}
