.sent-email {
	--horizontal-padding: 1rem;
	--vertical-padding: 0.5rem;
	color: var(--email-text-colour);
	padding-bottom: 1rem;
	border-radius: 0.625rem;
	overflow: hidden;
	white-space: pre-line;
}

.sent-email:first-child {
	padding-bottom: 0;
}

.sent-email .sent-email-title {
	background-color: var(--email-title-background-colour);
	padding: var(--vertical-padding) var(--horizontal-padding);
	font-weight: 700;
	display: flex;
	gap: 1rem;
	align-items: center;
}

.sent-email .sent-email-main {
	background-color: var(--email-background-colour);
	padding: var(--vertical-padding) var(--horizontal-padding);

	font-family: courier;
	font-weight: 400;
}

.sent-email .sent-email-main p {
	margin: 0.25rem 0;
}

.sent-email .sent-email-main hr {
	border-top: 2px dashed;
	width: 70%;
}
