.sent-email {
  border-color: var(--main-border-colour);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
  white-space: pre-wrap;
}

.sent-email-divider {
  border-bottom: 1px solid var(--main-border-colour);
  margin: 5px 0;
  width: 100%;
}
