#model-selection-box {
    padding: 1px 32px;
    position: relative;
    display: flex;
    align-items: center;
}

#model-selection-box p {
    margin-right: 10px;
}

#model-selection-menu {
    width: 40%;
    padding: 5px;
    margin-right: 10px;
}

#model-selection-button {
    padding: 5px;
}