.control-panel {
	overflow-y: auto;
	height: 100%;
	padding: 1.875rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.control-panel::-webkit-scrollbar {
	display: none;
	width: 0px;
	background: transparent;
}

.control-panel .control-collapsible-section {
	margin-bottom: 0.75rem;
	border-radius: 0.5rem;
	background-color: var(--control-body-background-colour);
}

.control-panel .control-collapsible-section-header {
	padding: 0.75rem;
	border-radius: 0.5rem;
	background-color: var(--control-header-background-colour);
	cursor: default;
}

.control-panel .control-collapsible-section-header:focus-visible {
	border-radius: 0;
}

.control-panel
	.control-collapsible-section[open]
	.control-collapsible-section-header {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
