#control-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#control-strategy {
  padding: 30px;
  overflow-y: auto;
}

.control-collapsible-section {
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.control-collapsible-section-header {
  background-color: var(--control-header-background-colour);
  padding: 12px 14px;
  cursor: default;
}

.control-collapsible-section-body {
  background-color: var(--control-body-background-colour);
}
