#control-panel {
  height: 100%;
  overflow-y: auto;
  padding: 30px;
}

.control-collapsible-section {
  background-color: var(--control-body-background-colour);
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
}

.control-collapsible-section-header {
  background-color: var(--control-header-background-colour);
  padding: 0.75rem;
  cursor: default;
  outline-color: white;
}
