.control-panel {
	overflow-y: auto;
	height: 100%;
	padding: 1.875rem;
}

.control-panel .control-collapsible-section {
	margin-bottom: 0.75rem;
	background-color: var(--control-body-background-colour);
	border-radius: 0.5rem;
}

.control-panel .control-collapsible-section-header {
	cursor: default;
	padding: 0.75rem;
	background-color: var(--control-header-background-colour);
	border-radius: 0.5rem;
}

.control-panel .control-collapsible-section-header:focus-visible {
	border-radius: 0;
}

.control-panel
	.control-collapsible-section[open]
	.control-collapsible-section-header {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
