.chat-box {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
}

.chat-box .footer {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem 2rem 1.5rem;
	padding: 2rem;
	font-size: 0.75rem;
}

.chat-box .footer label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.chat-box .footer .messages {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: flex-end;
	width: 100%;
}

.chat-box .footer .messages .send-button-wrapper {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	height: 3.75rem;
}

.chat-box .footer .messages .send-button-wrapper .themed-button {
	width: 3.75rem;
	border-radius: 0.625rem;
}

.chat-box .footer .messages .themed-text-area {
	min-height: 3.75rem;
	border: 1px solid var(--chat-button-border-colour);
	border-radius: 0.625rem;
	background-color: var(--chat-button-background-colour);
	color: var(--chat-button-text-colour);
	font-weight: 400;
	font-size: 1rem;
}

.chat-box .footer .control-buttons {
	display: flex;
	height: 2.5rem;
	column-gap: 1rem;
}

.chat-box .footer .control-buttons > * {
	flex: 1 1 0;
}

.chat-box .footer .control-buttons > :focus-visible {
	outline-offset: 0.1rem;
}
