#chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

#chat-box-footer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 32px;
}

#chat-box-footer-messages {
  display: flex;
  flex-direction: row;
}

#chat-box-input {
  flex-grow: 1;
  padding: 18px 12px;
  width: 100%;
  height: 100%;
  align-self: flex-end;
  justify-content: center;
  box-sizing: border-box;
  resize: none;
  background-color: inherit;

  /* must inherit as it's a textarea */
  font-family: inherit;
  font-size: inherit;
  color: white;
}

#chat-box-button-send {
  height: 100%;
  max-height: 53px;
  width: 74px;
  margin-left: 8px;
  margin-top: auto;
}

#chat-box-button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
}
