#chat-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#chat-box-footer {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

#chat-box-footer-messages {
  display: flex;
  flex-direction: row;
  height: 52px;
}

#chat-box-input {
  align-self: flex-end;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 0 12px;
  font-size: 16px;
  box-sizing: border-box;
}

#chat-box-button-send {
  height: 100%;
  width: 20%;
  margin-left: 8px;
}

#chat-box-button-reset {
  height: 34px;
  width: 100%;
  margin-top: 10px;
}
