.chat-box-info {
	padding-top: 1rem;
	font-style: italic;
	font-size: 0.875rem;
	text-align: center;
}

.chat-box-info.info-text {
	margin: 0.1rem;
	color: var(--chat-info-text-colour);
}

.chat-box-info.defence-alerted-text {
	color: var(--chat-alerted-text-colour);
}

.chat-box-info.defence-triggered-text {
	margin-bottom: 0.1rem;
	color: var(--chat-triggered-text-colour);
}

.chat-box-info.reset-level-text {
	margin: 0.6rem 0.1rem;
	border-bottom: 1px solid var(--chat-reset-level-line-colour);
	color: var(--chat-info-text-colour);
	line-height: 0.1em;
}

.chat-box-info.reset-level-text:focus-visible {
	outline-offset: 0.5rem;
}

.chat-box-info.reset-level-text span {
	padding: 0 1rem;
	background: var(--main-text-colour);
}
