.chat-box-message {
  color: var(--chat-message-text-colour);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin-top: 16px;
  padding: 8px;
  max-width: 85%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* For the triangle */
  position: relative;
  text-align: left;
}

.chat-box-message-ai {
  background: var(--chat-bot-background);
  border-radius: 0px 8px 8px 8px;
  margin-right: auto;
}

.chat-box-message-ai:before {
  content: "";
  position: absolute;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  top: 0px; /* controls vertical position */
  left: -10px; /* value = - border-left-width - border-right-width */
  border-width: 6px 0px 0px 10px;
  border-color: var(--chat-bot-colour) transparent;
}

.chat-box-message-ai-blocked {
  background: var(--chat-blocked-background);
}

.chat-box-message-ai-blocked:before {
  content: "";
  position: absolute;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  top: 0px; /* controls vertical position */
  left: -10px; /* value = - border-left-width - border-right-width */
  border-width: 6px 0px 0px 10px;
  border-color: var(--chat-blocked-colour) transparent;
}

.chat-box-message-user {
  background: var(--chat-user-background);
  border-radius: 8px 0px 8px 8px;
  margin-left: auto;
}

.chat-box-message-user:after {
  content: "";
  position: absolute;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  top: 0px; /* controls vertical position */
  right: -10px; /* value = - border-left-width - border-right-width */
  border-width: 0 0 6px 10px;
  border-color: transparent var(--chat-user-colour);
}

.chat-box-message-user-transformed {
  background: var(--chat-edited-background);
}

.chat-box-message-user-transformed:after {
  content: "";
  position: absolute;
  border-style: solid;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  top: 0px; /* controls vertical position */
  right: -10px; /* value = - border-left-width - border-right-width */
  border-width: 0 0 6px 10px;
  border-color: transparent var(--chat-edited-colour);
}

.chat-box-message-level-info .level-info-header {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.chat-box-message-level-info {
  background-color: var(--email-background-colour);
  max-width: 100%;
}
