.chat-box-message {
  border-color: #888;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin-top: 16px;
  padding: 8px;
  max-width: 85%;
}

.blocked {
  background-color: #fee;
}

.chat-box-message-ai {
  float: right;
  margin-left: auto;
  text-align: right;
}

.chat-box-message-blocked {
  background-color: #fee;
}

.chat-box-message-ok {
  background-color: #efe;
}

.chat-box-message-user {
  background-color: #eef;
  float: left;
  margin-right: auto;
  text-align: left;
}

.chat-box-message-user-transformed {
  background-color: rgb(252 229 255);
    float: left;
  float: left;
  margin-right: auto;
  text-align: left;
}
