.chat-box-message {
	border-radius: 1.25rem;
	margin-top: 1rem;
	padding: 1.25rem;
	max-width: 65%;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	border: 0.0625rem solid transparent;
	color: var(--chat-bot-text-colour);
	white-space: pre-line;
}

.chat-box-message.bot {
	border-top-left-radius: 0;
	border-color: var(--chat-bot-border-colour);
	background-color: var(--chat-bot-background-colour);
	align-self: flex-start;
}

.chat-box-message.blocked {
	border-color: var(--chat-blocked-border-colour);
	background-color: var(--chat-blocked-background-colour);
}

.chat-box-message.error {
	border-top-left-radius: 0;
	border-color: var(--chat-blocked-border-colour);
	background-color: var(--chat-blocked-background-colour);
	align-self: flex-start;
}

.chat-box-message.user {
	border-top-right-radius: 0;
	border-color: var(--chat-user-border-colour);
	background-color: var(--chat-user-background-colour);
	color: var(--main-text-colour);
	align-self: flex-end;
}

.chat-box-message.transformed {
	background-color: var(--chat-transformed-background-colour);
	border-color: var(--chat-transformed-border-colour);
	color: var(--chat-transformed-text-colour);
}

.chat-box-message.transformed b {
	color: var(--chat-transformed-text-highlight-colour);
}

.chat-box-message.level-info {
	background-color: var(--email-background-colour);
	color: var(--chat-level-info-text-colour);
	max-width: 100%;
}

.chat-box-message.level-info .header {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0.3125rem;
}
