.defence-mechanism {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
  margin-bottom: 8px;
}

.defence-active {
  background-color: #eef;
}

.defence-mechanism:hover {
  border-color: #444;
  border-width: 2px;
}

.defence-mechanism-header {
  display: flex;
  justify-content: space-between;
}

.defence-mechanism-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ccc;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  height: 20px;
  width: 20px;
  background-color: #ddd;
  color: #444;
  cursor: default;
}

.defence-mechanism-info span {
  position: relative;
  bottom: 1px;
}

.defence-mechanism-info-box {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
  font-size: 14px;
  margin-top: 4px;
}
