.defence-mechanism {
	cursor: default;
}

.defence-mechanism > * {
	padding: 0.75rem;
}

.defence-mechanism > summary {
	font-size: 1rem;
}

.defence-mechanism .info-box {
	font-size: 0.875rem;
}

.defence-mechanism .info-box :first-child {
	margin-top: 0;
}

.defence-mechanism .info-box .validation-text {
	font-size: inherit;
	font-weight: 600;
}

form {
	display: inline-block;
	width: calc(100% - 1.5em);
}

/* default checkbox hidden without removing it from the DOM */
.toggles [type='checkbox'] {
	position: absolute;
	top: auto;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

/* the  label */
.toggles [type='checkbox'] + label {
	display: block;
	position: relative;
	padding: 0.1em;
	max-width: 100%;
}

/* the  label hovered or focused*/
.toggles [type='checkbox']:focus + label,
.toggles [type='checkbox']:hover + label {
	color: var(--main-text-accent-colour);
}

.toggles [type='checkbox']:focus + label::before,
.toggles [type='checkbox']:hover + label::before {
	box-shadow: 0 0 0.3em var(--main-text-colour);
}

.toggles [type='checkbox']:focus + label::after,
.toggles [type='checkbox']:hover + label::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center center;
}

.toggles [type='checkbox'] + label::before,
.toggles [type='checkbox'] + label::after {
	content: '';
	position: absolute;
	height: 0.9em;
	transition: all 0.25s ease;
}

/* background oval before it's checked */
.toggles [type='checkbox'] + label::before {
	right: 0;
	top: 0.1em;
	width: 1.9em;
	border: 0.15em solid var(--main-toggle-off-border-colour);
	background: var(--main-toggle-off-colour);
	border-radius: 1.1em;
}

/* round toggle slider */
.toggles [type='checkbox'] + label::after {
	right: 0.95em;
	top: 0.17em;
	background: var(--main-text-colour);
	background-position: center center;
	border-radius: 50%;
	width: 1em;
	border: 0.05em solid var(--main-toggle-off-border-colour);
}

/* round toggle slider sliding to the right */
.toggles [type='checkbox']:checked + label::after {
	right: 0.1em;
	border-color: var(--main-toggle-on-border-colour);
	color: var(--main-toggle-on-border-colour);
}

/* background oval when it's checked */
.toggles [type='checkbox']:checked + label::before {
	background-color: var(--main-toggle-on-border-colour);
	border-color: var(--main-toggle-on-border-colour);
}

/* Windows High Contrast Mode Support */
@media screen and (-ms-high-contrast: active) {
	.toggles [type='checkbox']:focus + label::before,
	.toggles [type='checkbox']:hover + label::before {
		outline: 1px dotted windowText;
		outline-offset: 0.25em;
	}
	.toggles [type='checkbox'] + label::after {
		background-color: windowText;
	}
}

/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
	.toggles [type='checkbox'] + label::before,
	.toggles [type='checkbox'] + label::after {
		transition: none;
	}
}
