.defence-config-value {
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  min-height: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: var(--main-background-colour);
  color: var(--main-input-active-text-colour);
  font-size: 0.875rem;
  white-space: pre-line;
}

.defence-config-value.inactive {
  color: var(--main-input-inactive-text-colour);
  background-color: var(--main-input-inactive-background-colour);
}
