.defence-radio-button {
	position: relative;
	display: flex;
	cursor: pointer;
}

.defence-radio-button input {
	margin-bottom: 0.5rem;
	opacity: 0;
}

.defence-radio-button span {
	margin-left: 1rem;
}

/* checkmark outer circle */
.defence-radio-button input + span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1rem;
	height: 1rem;
	border: 0.125rem solid var(--main-toggle-off-border-colour);
	border-radius: 50%;
}

/* inner circle */
.defence-radio-button input + span::after {
	content: '';
	position: absolute;
	top: 0.3125rem;
	left: 0.3125rem;
	border: 0.3125rem solid var(--main-toggle-ball-colour);
	border-radius: 50%;
	opacity: 0;
	transition: 0.2s ease-in-out;
}

/* show circle when checked */
.defence-radio-button input:checked + span::after {
	opacity: 1;
}

.defence-radio-button input:focus + span::before {
	outline: 0.25rem solid var(--accent-border-colour);
	outline-offset: 0.125rem;
}

.defence-radio-button input:hover + span::before {
	outline: 0.25rem solid var(--accent-border-colour);
	outline-offset: 0.125rem;
}
