#model-selection-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#model-selection-row {
  display: grid;
  grid-template-columns: 1fr 1fr 4rem;
  gap: 0.5rem;

  align-items: center;
}

#model-selection-row p {
  margin: 0;
}

#model-selection-row #model-selection-info {
  align-items: center;
  text-align: center;
}

#model-selection-info p {
  margin: 0;
  padding: 0;
  color: var(--main-accent-colour);
}

#p error {
  color: var(--main-error-colour);
}

#model-selection-menu {
  padding: 5px;
  width: 100%;
}

#model-selection-button {
  width: 100%;
  padding-left: 10px;
}
