.model-config-slider-fieldset {
	display: flex;
	flex-direction: column;
	margin: 0;
	border: 0.25rem solid var(--control-config-border);
	border-radius: 0.5rem;
}

.model-selection-fieldset {
	min-height: fit-content;
	margin: 0;
	border: 0.25rem solid var(--control-config-border);
	border-radius: 0.5rem;
}

.model-config-slider-fieldset legend {
	padding: 0.3125rem;
}

.model-config-slider-fieldset details > summary {
	list-style: none;
	width: fit-content;
	padding: 0.5rem;
	border: 0.125rem outset var(--control-config-border);
	border-radius: 0.25rem;
}

.model-config-slider-fieldset details[open] summary {
	border-style: inset;
}

.model-config-slider-fieldset details[open] .info-text {
	display: block;
}

.model-config-slider-fieldset .info-text {
	display: none;
	padding: 0.5rem;
	font-size: 0.875rem;
}

.model-config-slider-fieldset .config-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 0;
}
