.model-config-slider {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-config-info {
  display: flex;
  align-items: center;
}

.model-config-title {
  margin-right: auto;
}

.model-config-info-icon {
  font-size: 1.3rem;
}

.model-config-info-text {
  margin-top: 0rem;
  padding: 0rem;
  font-size: 0.875rem;
}
