.model-selection-box {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}

.info-model-slider {
	width: fit-content;
	padding: 0.5rem;
	border: 0.125rem outset var(--control-config-border);
	border-radius: 0.25rem;
}
.prompt-injection-min-button > summary {
	list-style: none;
	font-size: 1rem;
}
.model-selection-box .model-selection-row {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem 0.5rem;
	align-items: center;
}

.model-selection-box .model-selection-row p {
	flex: 1 1 auto;
	margin: 0;
}

.model-selection-box .model-selection-row .select-wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	gap: 0.25rem 0.5rem;
}

.model-selection-box .model-selection-row select {
	flex: 1 1 auto;
	padding: 0.5rem;
}

.model-selection-box .model-selection-info {
	align-items: center;
	text-align: center;
}

.model-selection-box .model-selection-info p {
	margin: 0;
	padding: 0;
}

.model-selection-box .model-selection-info .error {
	color: var(--error-colour);
}
