.model-config-slider {
	width: 90%;
	margin: 0 auto;
	padding: 0 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.model-config-info {
	display: flex;
	align-items: center;
	padding-bottom: 0.5rem;
}

.model-config-info-icon {
	font-size: 1.3rem;
}

.model-config-info-text {
	font-size: 0.875rem;
}

fieldset {
	border: 0;
	padding: 0;
}

legend {
	margin-right: auto;
}
