.themed-text-area {
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 1rem 0.75rem;
  height: 100%;
  min-height: var(--defaultHeight);
  flex: 1 1 auto;
  resize: none;
  overflow-y: auto;

  background-color: var(--main-background-colour);
  color: var(--main-input-active-text-colour);

  /* must inherit to override textarea */
  font-size: inherit;
  font-family: inherit;
}

.themed-text-area.disabled {
  color: var(--main-input-inactive-text-colour);
  background-color: var(--main-input-inactive-background-colour);
}
