.themed-text-area {
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.1rem;
  width: 100%;
  resize: none;
  overflow-y: auto;

  background-color: var(--main-background-colour);
  color: var(--main-input-active-text-colour);

  /* must inherit to override textarea styling */
  font-size: inherit;
  font-family: inherit;

  /* must set line height to be able to calculate number of lines
  this is relative to font size of the text area */
  line-height: 1.25em;
}

.themed-text-area.spacing-loose {
  padding: 1rem;
}

.themed-text-area.disabled {
  color: var(--main-input-inactive-text-colour);
  background-color: var(--main-input-inactive-background-colour);
}
