.themed-text-area {
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.25em;
  /* height: 100%; */
  width: 100%;
  min-height: 1em;
  resize: none;
  overflow-y: auto;

  background-color: var(--main-background-colour);
  color: var(--main-input-active-text-colour);

  /* must inherit to override textarea */
  font-size: inherit;
  font-family: inherit;
}

.themed-text-area.disabled {
  color: var(--main-input-inactive-text-colour);
  background-color: var(--main-input-inactive-background-colour);
}
