.app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content-header {
  height: 10%;
}

.app-content-body {
  height: 90%;
}

#root {
  height: 100%;

  /* firefox scrollbar styling */
  scrollbar-color: var(--main-scrollbar-colour) transparent;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

/* draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-colour);
  border-color: var(--main-scrollbar-border-colour);
  border-radius: 1.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-scrollbar-hover-colour);
}

.prompt-injection-min-button {
  /* remove default button styling */
  background-color: transparent;
  border: 0.0625rem solid transparent;
  color: var(--main-button-inactive-text-colour);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt-injection-min-button:hover {
  border-color: var(--main-button-hover-border-colour);
  text-decoration: none;
  cursor: pointer;
}

hr {
  border-top: 0.0625rem solid var(--chat-message-text-colour);
  border-bottom: transparent;
  margin: 0.5rem 0;
}