#main-area {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#centre-area {
  display: flex;
  flex-direction: column;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #ccc;
  position: relative;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 20px;
}

#root {
  height: 100%;
}

.side-bar {
  width: 30%;
}

