body {
	overflow: hidden;

	height: 100%;
	margin: 0;

	font-family: 'Noto Sans', Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * {
	font-family: 'Noto Sans', Arial, sans-serif;
}

button {
	cursor: pointer;
}

button[disabled],
button[aria-disabled='true'] {
	cursor: default;
}

code {
	font-family: 'Noto Sans Mono', source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

html {
	height: 100%;
	color: var(--main-text-colour);
	background: var(--main-background);
}
