:root {
  --header-background-colour: #101010;

  --main-accent-colour: #1fd07b;
  --main-background-colour: #252525;
  --main-border-colour: var(--main-accent-colour);
  --main-error-colour: #cc3c3c;
  --main-text-colour: #fff;

  --main-scrollbar-colour: #444444;
  --main-scrollbar-hover-colour: #555555;
  --main-scrollbar-border-colour: #666666;

  --main-button-active-background-colour: teal;
  --main-button-active-text-colour: var(--main-text-colour);
  --main-button-inactive-background-colour: #313131;
  --main-button-inactive-text-colour: var(--main-text-colour);
  --main-button-hover-background-colour: #555555;
  --main-button-hover-text-colour: var(--main-text-colour);

  --main-input-active-background-colour: var(
    --main-button-inactive-background-colour
  );
  --main-input-active-text-colour: var(--main-button-inactive-text-colour);
  --main-input-inactive-background-colour: #ababab;
  --main-input-inactive-text-colour: #464646;

  --main-toggle-ball-colour: #ececec;
  --main-toggle-off-colour: #ababab;
  --main-toggle-on-colour: var(--main-accent-colour);

  --control-header-background-colour: var(
    --main-button-inactive-background-colour
  );
  --control-body-background-colour: #3a3a3a;

  --overlay-hidden-colour: #0008;
  --overlay-background-colour: #8ad5da;
  --overlay-attack-background-colour: #d6d6ff;
  --overlay-text-colour: #313131;

  --chat-bot-colour: #d482fb;
  --chat-bot-background: linear-gradient(var(--chat-bot-colour), #f3dbfe);
  --chat-blocked-colour: var(--main-error-colour);
  --chat-blocked-background: linear-gradient(
    var(--chat-blocked-colour),
    #ffacb6
  );
  --chat-edited-colour: #6a9b9b;
  --chat-edited-background: linear-gradient(var(--chat-edited-colour), #cae7f5);
  --chat-user-colour: var(--main-accent-colour);
  --chat-user-background: linear-gradient(var(--chat-user-colour), #8ad5da);
  --chat-info-text-colour: #888;
  --chat-message-text-colour: #000;
  --chat-alerted-text-colour: teal;
  --chat-triggered-text-colour: var(--main-error-colour);

  --email-background-colour: #93ffcb;
  --email-divider-colour: var(--email-text-colour);
  --email-text-colour: #000;
}
