#export-chat-box {
    margin: 15px;
    padding-top: 20px;        
    padding-bottom: 20px;
    text-align: center;
}

a {
    padding: 5 12px;
    font-size: 16px;
    color: #666;
    text-decoration: none;
}

button {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
    box-sizing: border-box;
    color: #666;
}