#export-chat-box {
    text-align: center;
    height: 100%;
    width: 100%;
}

a {
    padding: 5 12px;
    color: var(--main-button-inactive-text-colour);
    text-decoration: none;
}

button {
    height: 100%;
    width: 100%;
}