.handbook-terms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  margin: 0;
}

.handbook-terms .term {
  font-size: 1rem;
}

.handbook-terms .term dt {
  font-size: 1.125rem;
  font-weight: bold;
}
.handbook-terms .term dd {
  margin: 0;
}
