.handbook-spine {
	display: flex;
	flex-direction: column;

	min-width: 6rem;
	max-width: 6rem;

	padding-top: 3rem;
	border-right: 0.0625rem solid var(--handbook-spine-separator-colour);

	background-color: var(--handbook-spine-background-colour);

	font-size: 1.125rem;
}

.handbook-spine button {
	/* remove default button styling */
	background: none;
	border: none;
	padding: 0.75rem 1.31rem;
	text-align: left;
}

.handbook-spine button:focus-visible {
	outline-offset: -0.3rem;
}

.handbook-spine button:hover {
	background-color: var(--handbook-tab-hover-colour);
}

.handbook-spine button[aria-selected='true'] {
	background-color: var(--handbook-tab-selected-colour);
	color: var(--handbook-text-selected-colour);
}
