#handbook-overlay-screen {
  background-color: var(--overlay-hidden-colour);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

#handbook-overlay {
  background-color: var(--overlay-background-colour);
  color: var(--overlay-text-colour);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  width: 50%;
  height: 50%;
  border-radius: 10px;
}

#handbook-overlay-content {
  width: 80%;

  text-align: center;
  overflow-y: auto;
}

#handbook-overlay-content h1 {
  font-weight: 700;
  font-size: 3rem;
}

#handbook-overlay-content p {
  font-weight: 500;
  font-size: 2rem;
}
