.handbook-terms {
  display: grid;
  gap: 1rem 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.handbook-terms .term {
  background-color: var(--overlay-attack-background-colour);
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  padding: 0 0.625rem;
  font-size: 0.875rem;
}
