.handbook-spine {
	display: flex;
	flex-direction: column;

	min-width: 6rem;
	max-width: 6rem;
	padding-top: 3rem;

	font-size: 1.125rem;

	background-color: var(--handbook-spine-background-colour);
	border-right: 0.0625rem solid var(--handbook-spine-separator-colour);
}

.handbook-spine button {
	padding: 0.75rem 1.31rem;
	text-align: left;

	/* remove default button styling */
	background: none;
	border: none;
}

.handbook-spine button:hover {
	background-color: var(--handbook-tab-hover-colour);
}

.handbook-spine button[aria-selected='true'] {
	color: var(--handbook-text-selected-colour);
	background-color: var(--handbook-tab-selected-colour);
}
