.handbook-tabs {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: -50px; /* position above overlay */
  left: 0;
  z-index: -1;
}

.tabs label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-right: 0.0625rem;
  cursor: pointer;
  background-color: var(--overlay-closed-tab-colour);
  font-weight: 700;
  transition: background-color ease 0.1s;
  border-radius: 0.3rem 0.3rem 0 0;
}

.tabs label:not(:first-child):not(:last-child) {
  border-right: 2px solid #000;
}

.tabs [type="radio"] {
  display: none;
}

.tabs [type="radio"]:checked + label {
  background-color: var(--overlay-background-colour);
}

.tabs [type="radio"]:checked + label + .tab {
  display: block;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }

  .tabs-container {
    padding: 4rem 4rem;
  }

  .tabs label {
    order: 1;
    width: auto;
  }

  .tabs .tab {
    order: 9;
  }
}
