.handbook-overlay {
	display: flex;
	flex-direction: row;
	height: 85vh;
	background-color: var(--handbook-background-colour);
	color: var(--handbook-text-colour);
	aspect-ratio: 7/8;
}

.handbook header {
	background-color: var(--handbook-header-background-colour);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	position: fixed;
	height: 3.125rem;
	border-radius: 0;
}

.handbook header .close-button {
	margin-right: 3rem;
	background-color: inherit;
}

.handbook header .close-button:hover {
	background-color: var(--handbook-tab-hover-colour);
}

.handbook header .close-button:focus-visible {
	background-color: var(--handbook-tab-hover-colour);
}

.handbook-overlay .content {
	overflow-y: auto;
	margin-top: 3.125rem;
	margin-right: 0.5rem;
	margin-bottom: 0.25rem;
	padding: 2rem 1.75rem 0.5rem;

	/* firefox scrollbar styling */
	scrollbar-color: var(--handbook-scrollbar-colour) transparent;
}

/* webkit scrollbar styling */
.handbook-overlay .content::-webkit-scrollbar-thumb {
	background-color: var(--handbook-scrollbar-colour);
}

.handbook-overlay .content::-webkit-scrollbar-thumb:hover {
	background-color: var(--handbook-scrollbar-hover-colour);
}
