.handbook-overlay {
  display: flex;
  flex-direction: row;

  height: 85vh;
  width: 40vw;

  background-color: var(--handbook-background-colour);
  color: var(--handbook-text-colour);
}

.handbook-overlay .spine {
  background-color: var(--handbook-spine-background-colour);
  border-right: 1px solid var(--handbook-spine-separator-colour);
}

.handbook-overlay .content {
  overflow-y: auto;
}
