#handbook-attacks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.handbook-attack {
  background-color: var(--overlay-attack-background-colour);
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px;
  font-size: 0.8rem;
}
