.handbook-tabs {
  display: flex;
  gap: 0.5rem;
}

.handbook-tabs button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--overlay-tab-colour);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--overlay-background-colour);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  transition: ease 0.1s;
}

.handbook-tabs button[aria-selected="true"] {
  background-color: var(--overlay-tab-colour);
}
